<div class="col-md-12">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-6 title" id="chartTitle2">
      <span>アクティブユーザー411人</span><br>
      <span style="padding-left: 40px">2位／278社中</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      <button type="button" class="btn-hidden float-left" (click)="randomizeDataBack()"><i
        class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
      </button>
    </div>
    <div class="col-md-10 text" id="textMonth">
      <span>11月</span>
    </div>
    <div class="col-md-1">
      <button type="button" class="btn-hidden right float-right" (click)="randomizeDataNext()"><i
        class="fa fa-arrow-right fa-2x"
        aria-hidden="true"></i></button>
    </div>
  </div>
</div>
<div>
  <canvas id="canvas2">{{ chart2 }}</canvas>
</div>

