<div class="col-md-12">
  <div class="row">
    <div class="col-md-1">
      <button type="button" class="btn-hidden float-left" (click)="randomizeDataBack()"><i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
      </button>
    </div>
    <div class="col-md-10 text">
      <span>11月</span>
    </div>
    <div class="col-md-1">
      <button type="button" class="btn-hidden right float-right" (click)="randomizeDataNext()"><i class="fa fa-arrow-right fa-2x"
                                                                                                  aria-hidden="true"></i></button>
    </div>
  </div>
</div>
<div>
  <canvas id="canvas2">{{ chart2 }}</canvas>
</div>
