<div class="col-md-12">
  <div class="row">
    <div class="col-md-1">
      <button type="button" class="btn-hidden" (click)="randomizeData()"><i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
      </button>
    </div>
    <div class="col-md-10 text">
      <span>11月</span>
    </div>
    <div class="col-md-1">
      <button type="button" class="btn-hidden right float-right" (click)="randomizeData()"><i class="fa fa-arrow-right fa-2x"
                                                                                              aria-hidden="true"></i></button>
    </div>
  </div>
</div>
<div>
  <canvas id="canvas4">{{ chart4 }}</canvas>
</div>
