<div class="row">
  <div class="col-md-6">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-1">
          <button type="button" class="btn-hidden float-left"><i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
          </button>
        </div>
        <div class="col-md-10 text">
          <span>11月</span>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn-hidden right float-right"><i class="fa fa-arrow-right fa-2x"
                                                                        aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
    <app-chart1></app-chart1>
  </div>
  <div class="col-md-6" >
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-1">
          <button type="button" class="btn-hidden float-left"><i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
          </button>
        </div>
        <div class="col-md-10 text">
          <span>11月</span>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn-hidden right float-right"><i class="fa fa-arrow-right fa-2x"
                                                                        aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
    <app-chart2></app-chart2>
  </div>
</div>
<div class="row">
  <div class="col-md-6" >
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-1">
          <button type="button" class="btn-hidden float-left"><i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
          </button>
        </div>
        <div class="col-md-10 text">
          <span>11月</span>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn-hidden right float-right"><i class="fa fa-arrow-right fa-2x"
                                                                        aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
    <app-chart3></app-chart3>
  </div>
  <div class="col-md-6">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-1">
          <button type="button" class="btn-hidden"><i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
          </button>
        </div>
        <div class="col-md-10 text">
          <span>11月</span>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn-hidden right float-right"><i class="fa fa-arrow-right fa-2x"
                                                                        aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
    <app-chart4></app-chart4>
  </div>
</div>

