.btn-hidden{
  border: 1px solid #cccccc;;
  background-color: #fff;
  border-radius: 0.3125rem;
  color: #ccc;
  font-size: .5rem;
  padding: .3125rem .4rem;
  margin-left: -20px;
}
.right{
  margin-right: 40px;
}
.text{
  text-align: center;
}
