<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid" id="chartPage">
  <div class="row">
    <div class="col-md-12">
      <br>
      <button type="button" class="btn btn-secondary float-right" (click)="printChart()" style="background-color: #fff; color: #000; border-color: #CCCCCC"><i class="fa fa-print" aria-hidden="true"></i></button>
      <select name="" id="" class="float-right" style="margin-right: 1rem; height: 38px; border-color: #CCC" (change)="selectChart($event.target.value)">
        <option value="all">All</option>
        <option value="canvas1">Chart1</option>
        <option value="canvas2">Chart2</option>
        <option value="canvas3">Chart3</option>
        <option value="canvas4">Chart4</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col col-12" id="right-content">
      <div class="row">
        <div class="col col-12">
          <!--<router-outlet></router-outlet>-->
          <div class="row">
            <div class="col-md-6">
              <app-chart1></app-chart1>
            </div>
            <div class="col-md-6">

              <app-chart2></app-chart2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">

              <app-chart3></app-chart3>
            </div>
            <div class="col-md-6">

              <app-chart4></app-chart4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
